* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url("../img/Background.jpg");
  height: 100vh;
  width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container {
    background-image: url("../img/Background@2x.jpg");
  }
}
