/* ICONS TEAM */

.team-card:hover .team-icons {
  opacity: 1;
}

.team-icons {
  display: inline-block;
  background-color: $orange;
  display: flex;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.team-card__team-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.team-icons {
  &__facebook,
  &__twitter,
  &__pinterest,
  &__instagram {
    @include reset-links(inline-block, none);
    fill: $coral;
    padding: 15px 20px;

    &:hover {
      fill: $white;
      background-color: $coral;
    }
  }
}
