/* TEAM FOOTER */

.team-card__meta {
  display: flex;
  flex-direction: column;
  @include center(auto, auto, center);
  padding-top: 28px;
  background-color: $white;
}

.team-card__name {
  display: block;
  @include font($serif, 14px, 700, normal);
  color: $dark;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.team-card__pos {
  display: block;
  font-style: italic;
  color: $grey;
  @include font($robo, 15px, 400, 24px);
}
