.wrapper-fond {
  background-image: url("../img/vector-smart-object.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1.25rem;
  padding-bottom: 8.625rem;
  background-blend-mode: overlay;
  background-color: rgba(26, 25, 21, 0.3);
  height: auto;
}

.wrapper-partners {
  background-color: var(--color-white);
  padding-top: 4.3125rem;
  padding-bottom: 3.5625rem;
}

.container {
  min-width: 20rem;
  max-width: 58.78rem;
  margin: auto;
  padding: 0 1rem;
}

.nav {
  text-align: center;
  margin-bottom: 7.8125rem;
}

.header {
  margin-bottom: 2.375rem;
}

.log-link,
.sing-link {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--maine-font);
  font-size: 0.875rem;
  font-weight: 700;
  border: 0.125rem solid rgba(0, 0, 0, 0);
  border-radius: 3.125rem;
  padding: 0.75rem 1.125rem;
}

.log-link:hover {
  border: 0.125rem solid var(--color-white);
  border-radius: 3.125rem;
  padding: 0.75rem 1.125rem;
}

.sing-link:hover {
  border: 0.125rem solid var(--color-white);
  border-radius: 3.125rem;
  padding: 0.75rem 1.125rem;
}

.logo-link {
  display: block;
  color: var(--color-white);
  font-family: var(--maine-font);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  text-align: center;
}

.promo {
  text-align: center;
}

.title {
  color: var(--color-white);
  font-family: var(--maine-font);
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom: 0.625rem;
  max-width: 17.4375rem;
  margin: auto;
}

.subtitle {
  color: var(--color-white);
  font-family: var(--text-font);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5625rem;
  max-width: 13.5625rem;
  margin: auto;
  margin-bottom: 1.1875rem;
}

.btn-promo {
  color: var(--color-white);
  font-family: var(--maine-font);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 1.25rem;
  background-color: var(--color-red);
  padding: 0.875rem 1.25rem;
  display: block;
  margin: auto;
  max-width: 14.25rem;
}

.btn-promo:hover {
  background-color: var(--color-white);
  color: var(--color-red);
}

.partners {
  text-align: center;
}

.partners-title {
  color: var(--color-dark);
  font-family: var(--maine-font);
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
  line-height: 1.8rem;
}

img {
  border-radius: 50%;
  display: block;
  width: 100%;
  background-size: cover;
}

.userpic {
  margin: auto;
  width: 7.5625rem;
  height: 7.5625rem;
  margin-bottom: 1.25rem;
}

.post-partner {
  position: relative;
}

.icon {
  content: "";
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  border: 0.1875rem solid #ffffff;
}

li:nth-child(1) .icon {
  background-color: #ff4e50;
  position: absolute;
  top: 45%;
  left: 60%;
}

li:nth-child(2) .icon {
  background-color: #1cd7ad;
  position: absolute;
  top: 41%;
  left: 60%;
}

li:nth-child(3) .icon {
  background-color: #ffa507;
  position: absolute;
  top: 45%;
  left: 60%;
}

li:nth-child(4) .icon {
  background-color: #4e73db;
  position: absolute;
  top: 45%;
  left: 60%;
}

svg {
  position: relative;
  top: 0.25rem;
}

.partner-name {
  display: block;
  color: var(--color-dark);
  font-family: var(--maine-font);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.partner-comment {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 0.875rem;
  font-weight: 300;
}

.iteam:not(:last-child) {
  margin-bottom: 1.875rem;
}

.post-partner {
  max-width: 12.125rem;
  margin: auto;
}

.list {
  margin-bottom: 1.875rem;
}

.btn-partner {
  color: var(--color-red);
  font-family: var(--maine-font);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid var(--color-red);
  border-radius: 1.25rem;
  background-color: var(--color-white);
  padding: 0.875rem 1.25rem;
  display: block;
  max-width: 14.25rem;
  margin: auto;
}

.btn-partner:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}
